.wallpaper {
    -fx-background-color: black;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

Button, DayNightButton {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}

Button *, DayNightButton * {
    -fx-fill: white;
}

Button *, DayNightButton * {
    -fx-fill: rgb(255, 255, 255);
}

.tree-view, .tree-view * {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-font-size: 1.5em;
    /*-fx-text-fill: rgb(255, 255, 255);*/
}

.tree-view {
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);*/
}

.tree-cell:selected {
    -fx-underline: true;
    -fx-text-fill: rgb(255, 255, 255);
}

.tree-view .arrow {
    -fx-background-color: white;
}

.list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.list-cell .label {
    -fx-font-size: 2em;
    -fx-text-fill: rgb(255, 255, 255);
}

.list-cell:not(:selected) {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-font-size: 2em;
    -fx-text-fill: rgb(255, 12, 22);
}

.separator {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 0;
}

.bg-white-opaque-7 {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: white;
}

.bg-white-opaque-1 {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.bg-transparent {
    -fx-background-color: transparent;
}

.tree-text {
    -fx-font-size: 1.5em;
}