BorderPane {
    -fx-background-color: #181818;
}

BorderPane * {
    -fx-background-color: transparent;
}

MenuBar * {
    -fx-text-fill: #ffffff;
}

SplitPane {
    -fx-background-color: transparent;
}

.tool-bar {
    -fx-background-color: transparent;
    -fx-padding: 0px 0px 0px 10px;
}

ToolBar Button, ToolBar ThemeButton, ToolBar LangComboBox {
    -fx-border-size: 1px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 8px;
}

ToolBar Button, ToolBar ThemeButton {
    -fx-background-color: transparent;
    -fx-pref-height: 2em;
    -fx-pref-width: 2em;
}

.tool-bar Button *, .tool-bar ThemeButton * {
    -fx-fill: #ffffff;
    -fx-min-width: 13px;
}

.tool-bar LangComboBox {
    -fx-pref-height: 2.5em;
    -fx-pref-width: 10em;
}

.tool-bar LangComboBox * {
-fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-underline: false;
}

.tool-bar LangComboBox .list-view {
    -fx-border-width: 1px;
    -fx-border-color: #fff;
    -fx-border-radius: 6px;
}

.tool-bar LangComboBox .list-cell: hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.tree-view {
    -fx-padding: 10px;
    -fx-background-color: #232323;
}

.tree-view:selected {
    -fx-border-width: 0px;
}

.tree-view .cell {
    -fx-font-size: 1.5em;
    -fx-text-fill: #ffffff;
}

.tree-view .tree-cell .arrow {
    -fx-background-color: #ffffff;
}

.tree-cell:selected {
    -fx-underline: true;
    -fx-text-fill: white;
}

.list-view .virtual-flow {
    -fx-background-color: #232323;
}

.list-view .list-cell:selected {
    -fx-background-color: #202020;
    -fx-underline: true;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell .label {
    -fx-font-size: 2em;
    -fx-text-fill: #ffffff;
}

.menu-button .arrow {
    -fx-background-color: #ffffff;
}

.menu-button .context-menu {
    -fx-background-color: #232323;
    -fx-border-width: 1px;
    -fx-border-color: #fff;
    -fx-border-radius: 6px;
}

.menu-button .context-menu .menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.split-pane:horizontal > .split-pane-divider {
   -fx-border-width: 0;
}

#directoryTreeTitleLabel, #actionsToolbar, #processToolBar {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

ProgressWidget .progress-bar {
    -fx-border-width: 1px;
    -fx-border-color: #fff;
}

ProgressWidget .progress-bar .bar {
    -fx-background-color: #fff;
}

ProgressWidget .label {
    -fx-text-fill: #fff;
}

#file-icon {
    -fx-image: url("../../images/icons/dark-file-regular.png");
}

#folder-icon {
    -fx-image: url("../../images/icons/dark-folder-regular.png");
}