.wallpaper {
    /*-fx-background-image: url('../images/eternal-forest.jpg');*/
    /*-fx-background-color: lightblue;*/
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

Button, DayNightButton {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}

Button *, DayNightButton * {
    -fx-fill: black;
    -fx-size: 55px;
}

ListView {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

TreeView, TreeView * {
    -fx-background-color: rgba(180, 180, 180, 0.05);
    -fx-font-size: 1.5em;
    /*-fx-text-fill: rgb(255, 255, 255);*/
}

.tree-view {
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);*/
}

.tree-cell:selected {
    -fx-underline: true;
    -fx-text-fill: black;
}

.tree-view .arrow {
    -fx-background-color: black;
}

.list-cell:selected {
    -fx-underline: true;
    -fx-text-fill: black;
}

.list-cell .label {
    -fx-font-size: 2em;
    -fx-background-color: transparent;
    /*-fx-text-fill: rgb(255, 255, 255);*/
}

.list-cell .label:selected) {
    -fx-background-color: #c2fcfa;
    -fx-font-size: 2em;
    -fx-text-fill: rgb(255, 12, 22);
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 0;
}

ToolBar, Label {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}