ToolBar {
    -fx-padding: 0px 0px 0px 10px;
}

ToolBar Button, ToolBar ThemeButton {
    -fx-pref-height: 2.5em;
    -fx-pref-width: 2.5em;
}

/*ToolBar Button *, ToolBar ThemeButton * {
    -fx-font-size: 10;
}*/

ToolBar LangComboBox {
    -fx-pref-height: 2.5em;
    -fx-pref-width: 10em;
}

TreeView {
    -fx-padding: 10px;
    -fx-font-size: 1.5em;
}

.tree-cell:selected {
    -fx-underline: true;
    -fx-text-fill: black;
}

.tree-view .arrow {
    -fx-background-color: black;
}

.list-cell:selected {
    -fx-underline: true;
    -fx-text-fill: black;
}

.list-cell .label {
    -fx-font-size: 2em;
    -fx-background-color: transparent;
}

.list-cell .label:selected {
    -fx-background-color: #c2fcfa;
    -fx-font-size: 2em;
    -fx-text-fill: #fff;
}

ToolBar, Label {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#file-icon {
    -fx-image: url("../images/icons/file-regular.png");
}

#file-icon.dark {
    -fx-image: url("../images/icons/dark-file-regular.png");
}

#folder-icon {
    -fx-image: url("../images/icons/folder-regular.png");
}